### Android ###
*.iml
.gradle
/local.properties
local.properties
/build
**/build/
/captures
.externalNativeBuild
.cxx

### IntelliJ / Android Studio ###
.idea/
.DS_Store

### Node.js ###
/node/node_modules/
/node/.env